@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    .container {
        @apply sm:px-[30px] px-4 mx-auto;
    }
    .elem_center{
        @apply flex justify-center items-center;
    }
    .btn_style{
         @apply bg-gradient-to-r from-[#4EC6D4] to-[#36AED4] hover:from-[#8CDAE4] hover:to-[#8CDAE4] transition-all duration-200 rounded-full 
    }

}

body{
   
    font-family: 'Roboto', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    
}
ul li a{
    opacity: 0.8;
}
nav ul li a:hover{
    opacity: 1;
    text-decoration-line: underline;
}
h3,h4{ 
    font-family: 'Raleway', sans-serif !important;
    font-size: 23px;
}

p{
    opacity: 0.8;
}

